body{
	background-color: #EEEEEE;
	margin: 0;
}

.header{
	background-color: #404040;
	display: inline-block;
	position: fixed;
	top : 0px;
	height: 120px;
	width: 100%;
}

.content{
	background-color: #808080;
	display: block;
	margin-top: 120px;
}

.content .sidebar{
	background-color: grey;
	/*border: 1px solid black;*/
	float: left;
	position: fixed;
	/*top: 20px;*/
	height: 800px;
	width: 300px;
}

.content .main-content{
	background-color: #fff;
	/*border: 1px solid red;*/
	/*float: right;*/
	height: 8000px;
	/*width: 100%;*/
	padding-left: 310px;
}

.content .main-content div{
	/*background-color: #EEEEEE;
	border: 1px solid black;
	height: 400px;*/
}

.content .main-content .intro{
	background-color: 	#fff;
	/*position: relative;*/
}

/*.content .main-content .intro .inner-intro{
	background-color: #fff;
	position: absolute;
	bottom : 0px;
	height: 100px;
}*/
.paragraf{
	text-indent: 50px;
	width: 80%;
}

xmp{
    background-color: #eeeeee ;
    border-left:10px solid #808080 ;
    height: auto;
    display: inline-block;
    padding:0px 10px;
    white-space: pre-wrap;
    width:100%;
}
.code{
    width:80%;
    display: inline-block;
    /*position: relative;*/
}
.preview{
    width:50%;
    display: inline-block;
}

.contoh{
	background-color: grey;
	width: 80%;
}

th, td{
	border: 1px solid black;
}
.footer{
	background-color: #CCCCCC;
	display: inline-block;
	width: 100%;
}

/*kalo inline-block tanpa widht 100%, maka yang dihitung hanya panjang kata.*/
/*inline-block, karena inline block itu bakalan ngeblock sebaris full dari ukuran browser*/
/*mobile bisa aja 60px, di desktop 80px, di tablet 120px*/